VITE_API_URL=http://localhost:5000/api/v1
VITE_SOCKET_URL=http://localhost:5000
MONGO_URI=mongodb+srv://CB:1234@cluster0.jh5ktag.mongodb.net/freshfeast
JWT_ACCESS_SECRET=any_random_long_text_here
JWT_REFRESH_SECRET=another_random_long_text_here